<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Add Product</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Product Model：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="请输入产品货号" ng-model="userInfo.productAttr">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Product Type：
                        </label>
                        <div class="col-md-10">
                            <select class="form-control">
                                <option>Relax Studio</option>
                                <option>Gallery</option>
                                <option>Fabbrica</option>
                                <option>Muse</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Config Code：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="请输入配置代码" ng-model="userInfo.configAttr">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Skin Class：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="请输入皮类（BR， BV， GO，NC）" ng-model="userInfo.SkinClass">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Price：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="请输入价格" ng-model="userInfo.price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            add Image to Product Model：
                        </label>
						<script language=JavaScript>
						function show(){
							var attach = document.getElementById("addBtn");
							var imgAttach = document.getElementById("addImage");
							imgAttach.style.display="";
							attach.style.display="none";
						}
						</script>
                        <div class="col-md-10">
							<button id="addBtn" class="btn btn-warning" onClick="show()"> Add</button>
                            <input id="addImage" type="file" name="fileattach" style="display:none">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a ui-sref="booklist" class="btn btn-success" ng-disabled="form.$invalid">保存</a>
                            <a ui-sref="booklist({bookType:0})" class="btn btn-primary">取消</a>
                            <button class="btn btn-default" ng-click="setFormData()">清空表单</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
