<div class="container">
	<div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<img src="image/icon.jpg" class="img-circle" style="margin-left:20px;">
		</div>
	    <div>
	       <p class="navbar-text navbar-right" style="margin-top:20px;">Signed in as 
			   <span>Admin</span>
	       </p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-3">
	        <div ui-view="booktype">
	        	Product Type loading...
	        </div>
	    </div>
	    <div class="col-md-9">
	        <div ui-view="bookgrid">
	        	Product List loading...
	        </div>
	    </div>
	</div>
</div>