<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item active">
				Product Types
            </a>
            <a ui-sref="booklist({bookType:0})" class="list-group-item">ALL</a>
            <a ui-sref="booklist({bookType:1})" class="list-group-item">Relax Studio</a>
            <a ui-sref="booklist({bookType:2})" class="list-group-item">Gallery</a>
            <a ui-sref="booklist({bookType:3})" class="list-group-item">Fabbrica</a>
            <a ui-sref="booklist({bookType:4})" class="list-group-item">Muse</a>
        </div>
    </div>
</div>
