<div class="well" ng-controller="BookDetailCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <img src="../image/angularjs.jpg" alt="HTLhome全球家居连锁" width="80%">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a ui-sref="booklist({bookType:0})" class="btn btn-primary">返回列表</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                product Model：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">
                                   HTL-test
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Config Code：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">test</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               Skin Class：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">BV</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Product Type：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">Relex Stadio</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                               Price
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">12350元</p>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-md-2 control-label">
                                是否有电子书：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">无</p>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
